<p class="copy">
	Copyright &copy; 2012 - {{ "now" | date: "%Y" }} JeanCarloEM. Todos
	os direitos reservados.
	<span
		>Feito com
		<a
			href="https://mmistakes.github.io/minimal-mistakes/"
			target="_blank"
		>
			Minimal Mistakes</a
		>.
	</span>
</p>

<div class="sobpostbar">
	<ul id="menu-topo-2" class="menu">
		<li
			class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1871"
		>
			<a href="{{ '/sobre/' | relative_url }}">Sobre</a>
		</li>
		<li
			class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1869"
		>
			<a href="https://jeancarloem.com/termos-de-uso">Legal</a>
		</li>
		<li
			class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1875"
		>
			<a href="https://jeancarloem.com/avisos-gerais/"
				>Advertências</a
			>
		</li>
		<li
			class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1875"
		>
			<a href="https://jeancarloem.com/privacidade/">Privacidade</a>
		</li>
		<li
			class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1872"
		>
			<a title="Licença" href="https://jeancarloem.com/licenca/"
				>Licença</a
			>
		</li>
	</ul>
</div>
