node_modules
.*/
!.vscode
src/__generated__
*.psd
*.ai
*.zip
*.7z
_data
# Arquivos de saída do Jekyll (para cache em build no github Actions)
# O GitHub Pages gera a pasta _site automaticamente
!_site

# 2. Ignora tudo o que estiver dentro dela
_site/*

# 3. Permite que o Git entre nas subpastas para procurar arquivos
# (para cache em build no github Actions)
!_site/**/

# 4. Libera apenas os arquivos com as extensões desejadas
# para cache em build no github Actions
# ignora arquivo grandes e que não depende de jekyll
# ou que o jekyll não compila, apenas copia (como imagens, pdf e outros anexos)
!_site/.jcem-build-manifest.json
!_site/**/*.html
!_site/**/*.rb
!_site/**/*.ps1
!_site/**/*.sh
!_site/**/*.js
!_site/**/*.cts
!_site/**/*.ts
!_site/**/*.scss
!_site/**/*.css
!_site/**/*.css.map
_site/scripts/ci_timed_step.rb
_site/scripts/jekyll_build_*.rb
_site/scripts/verify_root_deployment.rb

old-root/

# testes da IA - elimina artefatos da IA
visual-artifacts/
http-127*
http-local*
.ci-timer-start

# Cache e arquivos temporários do Jekyll
.jekyll-cache/
.jekyll-metadata
.sass-cache/

# Dependências gerenciadas pelo Bundler
# O GitHub Pages gerencia as versões de gems, então
# o arquivo de lock não é necessário e pode causar problemas
Gemfile.lock
vendor/

# Diretórios específicos do Minimal Mistakes (se você os tiver)
# Se você tiver uma pasta com exemplos de arquivos de dados, ignore-a
/docs/
/examples/

# Arquivos de IDEs e do sistema operacional
# Ignora arquivos criados por diferentes editores e sistemas
.idea/
.vscode/
.DS_Store
Thumbs.db

# Arquivos de backup e logs
*.log
*.bak

!.github
