<html lang="{{ site.locale | replace: "_", "-" | default: "en" }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}" dir="{% if site.rtl %}rtl{% else %}ltr{% endif %}">
    {% include jcem/body/first.html %}

    <div class="main_jcem_wrapper">
      {% include footer/after_footer.html %}
      {% include_cached skip-links.html %}
      {% include_cached masthead.html %}

      <div class="initial-content">
        {{ content }}
        {% include after-content.html %}
      </div>

      {% if site.search == true %}
        <div class="search-content">
          {% include_cached search/search_form.html %}
        </div>
      {% endif %}

      <div id="footer" class="page__footer">
        <footer>
          {% include footer/custom.html %}
        </footer>
        {% include footer/after_footer.html %}      
      </div>

      <a class="jcem-scroll-top" href="#" aria-label="Voltar ao topo" title="Voltar ao topo" aria-hidden="true" tabindex="-1">
        <i class="fas fa-arrow-up" aria-hidden="true"></i>
      </a>

      {% include scripts.html %}
    </div>
  </body>
</html>
